*{
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: 100px;
    font-family: fantasy;
}
.navbar {
    background-color: transparent !important;
  }
.nav-item{
    transform: translateY(-10px);
    font-weight: 500px;
    width: 60px;
    
}
.navbar-brand{
    color: rgb(255, 255, 255);
}
